@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
}

body {
    background-image: url("../images/background2.webp");
    height:100%;
    background-position: top center;
    background-repeat: repeat-x;
    background-size: cover;
    overflow: auto;
}

.headLink {
    color: #0007cc;
}

.mainContent {
    margin: 5% auto 5% auto;
    border: solid black;
    background-color: rgb(39, 39, 39);
    box-shadow: 15px 15px 10px #d4d210;
    width: max-content;
    padding: 2.75%;
    opacity: 0.8;
    text-align: center;
    justify-content: center;
}

.innerContent {
    display: block;
    justify-content: center;
    width: max-content;
}

#logo {
    font-family: "Yellowtail", cursive;
    color: #21db3e;
    font-size: 48pt;
}

a {
    color: #f70a04;
}

.pageLabel {
    color: #21db3e;
}

label, p {
    color: #d07103;
}

#loginButton, #clearButton, #submitButton, #newButton, #editItemButton, #deactivateButton,
#itemPageButton, #transactionPageButton, #userPageButton, #deleteButton, #activateButton {
    margin-top: 5%;
    color: #000000;
    border-color: black;
}

#searchButton {
    margin-left: 3%;
    color: #000000;
    border-color: black;
}

#loginButton:hover, #submitButton:hover, #clearButton:hover, #searchButton:hover, #newButton:hover,
#deactivateButton:hover, #activateButton:hover, #userPageButton:hover, #itemPageButton:hover,
#transactionPageButton:hover, #editItemButton:hover, #deleteButton:hover {
    background-color: #d4d210;
    box-shadow: 0px 0px 40px 5px #d4d210;
}

.outerRegDiv {
    display: flex;
    margin-bottom: 5%;
}
.innerRegDiv {
    margin: 0 1% 0 1%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#searchForm {
    margin-top: 3%;
}

#searchCriteria {
    margin-bottom: 3%;
}

.tableSearch {
    width: min-content;
}

.userTable, .itemTable {
    justify-content: center;
    width: max-content;
}

tr, td, th{
    border: 1px solid #2ebb03 !important;
    color: #d07103;
}

td, th {
    padding: 5px;
}

#searchForm {
    justify-content: center;
    width: max-content;
}

input[type="radio"] {
    margin-right: 10px;
}

.error {
    color: #f70a04;
}