@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Serif", serif;
}

body {
    background-image: url("../images/background2.webp");
    height:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    
}

.mainContent {
  margin: 5% auto 5% auto;
  border: solid black;
  background-color: rgb(39, 39, 39);
  box-shadow: 15px 15px 10px rgba(255, 255, 1, 0.493);
  width: min-content;
  padding: 3%;
  opacity: 0.8;
  text-align: center;
}

.innerContent {
  display: block;
  text-align: center;
  width: max-content;
  margin: auto;
}

.errorMessage {
  color: #af0000;
  margin: 0;
  font-size: smaller;
  visibility: hidden;
}

#logo {
  font-family: "Yellowtail", cursive;
  color: #21db3e;
  font-size: 48pt;
}

#newUserLink a, td a {
  color: #af0000;
}

.pageLabel {
    color: #21db3e;
}

#loginButton, #clearButton, #submitButton, #searchButton, #newButton, 
#itemPageButton, #transactionPageButton, #userPageButton {
    margin-top: 5%;
    color: #000000;
    border-color: black;
}

#itemPageButton, #transactionPageButton, #userPageButton{
    margin: 0 1% 5% 1%;
}

#loginButton:hover, #submitButton:hover, #clearButton:hover, #searchButton:hover, #newButton:hover,
#userPageButton:hover, #itemPageButton:hover, #transactionPageButton:hover {
    background-color: #d4d210;
    box-shadow: 0px 0px 40px 5px #d4d210;
}

.outerRegDiv {
    display: flex;
}
.innerRegDiv {
    margin: 0 1% 0 1%;
}

label, p {
    color: #d07103;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.topButtons, #searchForm {
  width: 425;
  margin-top: 3%;
}

.searchFilters {
  margin-bottom: 5%;
}

.tableSearch {
  width: 150px;
}

.userTable, .itemTable {
  text-align: center;
}

 th, td, tr {
  border: solid #2ebb03 !important;
  color: #d07103;
}

span {
  color: #d07103;
}